<%- include("partials/header") %> 

<div class="ui main text container segment">
    <form class = "ui form" action="/planes/<%= plane._id %>?_method=PUT" method = "POST">
        <div class="ui huge header">Edit Plane</div>
        <div class="field">
            <label for="">Name</label>
            <input type="text" placeholder = "Name" name = "plane[name]" value="<%= plane.name %> ">
        </div>
        
        <div class="field">
            <label for="">Image</label>
            <input type="text" placeholder = "Image URL" name = "plane[image]" value = "<%= plane.image %> >
        </div>
        
        <div class="field">
            <label for="">Description</label>
            <textarea name="plane[description]" id="" cols="30" rows="10"><%= plane.description %> </textarea>
        </div>
        <input type="submit" class="ui big teal button basic">
    </form>
</div>


<%- include("partials/footer") %> 